.title {
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.contactUs {
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  width: 800px;
  padding: 0.9rem;
  border-radius: 0.5rem;
}
