.logo {
  margin-left: -11px
}

.aboutUs {
  line-height: 30px;
  color: var(--platformcyberDirtyWhiteColor);
}

.item {
  list-style: none;
}

.li {
  display: block;
  color: var(--platformcyberDirtyWhiteColor);
}

.a {
  color: inherit !important;
  text-decoration: none !important;
}

.a:hover {
  color: #ffffff;
}

.reserved {
  text-align: center;
  color: var(--platformcyberDirtyWhiteColor);
}

@media screen and (min-width: 1000px) {
  .mln20 {
    margin-left: -20px
  }
}
